*{
  box-sizing: border-box;
}
.App {
  text-align: center;
  width: 1140px;
  margin: 0 auto;
  height: 150px;
}
a{
  display: block;
  margin: 1px;
  font-size: 2rem;
  padding: 50px;
  text-decoration: none;
  background-color: aliceblue;
}
